:root {
    --Background: #202027;
    --Secondary: #FFFFFF;
    --BackgroundColour: #FF595A; /* #717171; Dark grey */
    --TopBarColour: #001233;/* #ffbb6a; orange */
}

html {
    min-width: 300px;
    overflow-x: hidden;
    overflow-y: scroll;
}

body {
    position: absolute;
    background-color: var(--Background);
    color: #FFFFFF;
    font-family: "Arial Black";
}

i {
    
    font-size: 40px;
}

@keyframes FadeInAnim {
    0% {
        opacity: .1;
    }
    100% {
        opacity: 1;
    }
}


#Link {
    color: var(--Secondary);
    text-decoration:overline;
    text-shadow: -2px 2px 0px rgba(0, 0, 0, 0.1);
}

#Link:hover {
    scale: 1.2;
}

.TopSection {
    
    display: flex;
    padding: 200px 10% 50px 10%;
    
    flex-direction: column;
    /*
    width: 100vw;
    */
    height: 100vh;
     /*
    background-color: #022059;
   
    border-Top: 5px solid var(--TopBarColour);
    background-image: linear-gradient(to bottom, #022059 , #022059, var(--TopBarColour))
    */
}



.TopSectionText {

    Font-Size: clamp(4dvw,8dvw,10dvw);
    margin-bottom: 0px;
    
    animation: FadeInAnim ease 5s;
    animation-iteration-count: 1;
    animation-fill-mode: forwards;
}

.TopSectionDesc {
    Font-Size: 30px;
    width: 60%;
}


.ProjectTextTitle {
    text-align: center;
    font-size: 100px;
    line-height: 0%;
    margin: 5%;
    color: #FF0094;
}

#ProjectSquare {
    /*background-color: var(--BackgroundColour);*/
    border-radius: 20px;
    width: 60dvw;


}

.ProjectText {
    display: flex;
    flex-direction: row;
    gap: 25px;
}

.grid-container {
    display: flex;
    flex-direction: column;
    grid-template-columns: repeat(1 , 1fr);
    gap: 10px;
    position: relative;
    margin-left: auto;
    margin-right: auto;
    justify-content: center;
    align-items: center;

   
    
    top: 5dvh;
    
}

.ImageDesc {

    max-width: 125px;
    max-height: 125px;
    
}

.Desc {
    position: relative;
}

.TopBar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-bottom: 1px solid var(--Secondary);
    
    
    height: 10vh;
    width: 100vw;
    min-width: 380px;
    left: 0%;
    top: 0%;
    color : #FFFFFF;
    position: absolute;
    text-align: center;
    font-size: 60px;
    font-weight: bold;
    /*
    border-bottom: 5px solid #022059;
    background-color: var(--TopBarColour);
    */
}

.TopBar-Left {
    float: left;
    width: 33vw;
}
.TopBar-Right {

    display: flex;
    gap: 25px;
    float: right;
    width: 20vw;
    color: var(--Secondary);
}

.TopBar-Center {
    flex: 2;
    font-size: 20px;
    width: 40vw;
}

.Title {
    position: relative;
    font-size: 35px;
    top: 5dvh;
    left: 43dvw;
}

.DescText {
    color: #FFFFFF;
    position: relative;
    top: 1dvh;
    text-align: center;
    font-size: 25px;
}

.bmc-btn-container {
}

.grid-container-Gif {
    padding: 10px;
    position: relative;
    width: 70dvw;
    
    top: 5dvh;
    left: -5dvw;
    margin-left: auto;
}


.grid-container-Gif:after {
    display: grid;
    grid-gap: 10px;
    /*grid-template-columns: repeat(4 , 1fr);*/

 
}



.Gifimg {
    width: 20%;
    height: auto;
}

.FooterText {
    position: relative;
    margin: 10% 10% 5% 10%;
    font-size: 20px;
    text-align: center;
}


@media screen and (max-width: 992px) {
    .ProjectTextTitle {
        font-size: 50px;
    }

    .Gifimg {
      width: 40%;
    }


  }
@media screen and (max-width: 600px) {
    .Gifimg {
      width: 100%;
    }

    .TopBar {
        font-size: 40px;
    }

    .TopBar-Right {
        width: 30vw;
    }

    .TopSectionDesc {
        width: 80%;
        font-size: 20px;
    }

    .TopSection {
        height: 65vh;
    }

    .grid-container {
        
    }

    .ProjectText {
        font-size: 10px;
    }

    .ImageDesc {
        max-width:  62.5px;
        max-height: 62.5px;
    }

    #ProjectSquare {
        width: 90vw;
    }
    
}

.Gifimg:hover  {
    z-index: 5;
    position: relative;
    transform: scale(1.5);
    height: auto;
}
