:root {
    --BackgroundColour: #FF595A; /* #717171; Dark grey */
    --TopBarColour: #001233;/* #ffbb6a; orange */
}

body {
    background-color: var(--TopBarColour);
    color: #FFFFFF;
}

#Link {
    color: var(--BackgroundColour);
    text-decoration:overline;
    text-shadow: -2px 2px 0px rgba(0, 0, 0, 0.1);
}

.TopSection {
    position: relative;
    top: 3.75dvh;
    left: -0.5%;
    width: 98.9vw;
    height: 100vh;
    background-color: #022059;
    
    border-Top: 5px solid var(--TopBarColour);
    background-image: linear-gradient(to bottom, #022059 , #022059, var(--TopBarColour))
}

.TopSectionText {
    position: relative;
    Font-Size: 80px;
    width: 50dvw;
    left: 15dvw;
    top:20dvh;
    opacity: 0;
}

.TopSectionText.is-loaded {

    transition: opacity 5s;
    opacity: 1;
}

#ProjectSquare {
    /*background-color: var(--BackgroundColour);*/
    border-radius: 20px;
    width: 60dvw;
    height: 30dvh;
    padding-bottom:10vh;
    margin-bottom: 25px;
}

.grid-container {
    display: grid;
    grid-template-columns: repeat(1 , 1fr);
    padding: 10px;
    position: relative;
    width: 70dvw;
    
    top: 5dvh;
    left: 18dvw;
}

.ImageDesc {
    position: relative;
    max-height: 25dvh;
    max-width: 25dvh;
    left: 60dvw;
    top: -15dvh;
}

.Desc {
    width: 80%;
    position: relative;
    left: 3dvw;
}

.TopBar {
    background-color: var(--TopBarColour);
    
    height: 6vh;
    width: 98.9vw;
    left: 0%;
    top: 0%;
    color : #FFFFFF;
    position: absolute;
    text-align: center;
    font-size: 20px;
    font-weight: bold;
    border-bottom: 5px solid #022059;
}

.TopBar-Left {
    float: left;
    position: absolute;
    margin-left: 0vw;
    width: 33vw;
    top: 2dvh;
}
.TopBar-Right {
    float: right;
    position: absolute;
    margin-left: 75%;
    top: 2dvh;
    width: 20vw;
}

.TopBar-Center {
    position: absolute;
    font-size: 20px;
    margin-left: 30vw;
    width: 40vw;
    top: 2dvh;
}

.Title {
    position: relative;
    font-size: 35px;
    top: 5dvh;
    left: 43dvw;
}

.DescText {
    color: #FFFFFF;
    position: relative;
    top: 3dvh;
    text-align: center;
    font-size: 25px;
}


.GamesWorkedOn {
    background-color: var(--BackgroundColour);
    position: relative;
    left: 9vw;
    width: 80dvw;
    height: 35dvh;
    border-radius: 20px;
}
