:root {
    --Background: #202027;
    --BackgroundHighlight: #383843;
    --Secondary: #FFFFFF;
    --BackgroundColour: #FF595A; /* #717171; Dark grey */
    --TopBarColour: #001233;/* #ffbb6a; orange */
    --HighlightColour: #574FE8;
}

html {
    min-width: 300px;
    overflow-x: hidden;
    overflow-y: scroll;
}

body {
    position: absolute;
    background-color: var(--Background);
    color: #FFFFFF;
    font-family: "Arial Black";
}

i {
    
    font-size: 40px;
}

@keyframes FadeInAnim {
    0% {
        opacity: .1;
    }
    100% {
        opacity: 1;
    }
}


#Link {
    color: var(--Secondary);
    text-decoration:overline;
    text-shadow: -2px 2px 0px rgba(0, 0, 0, 0.1);
}

#Link:hover {
    scale: 1.2;
}

.TopSection {
    
    display: flex;
    padding: 100px 10% 50px 10%;
    
    flex-direction: column;
    
    align-items: center;
    
    /*
    width: 100vw;
    */
    height: 90vh;

     /*
    background-color: #022059;
   
    border-Top: 5px solid var(--TopBarColour);
    background-image: linear-gradient(to bottom, #022059 , #022059, var(--TopBarColour))
    */
}

.ResumeLink {
    display: flex;
    align-items: center;
    border: var(--HighlightColour) 1px solid;
    border-radius: 10px;
    background-color: #574fe824;
    padding: 10px;
    font-size: 30px;
   
   
    gap: 10px;
}

.AResumeLink {
    color: #FFFFFF;
    text-decoration: none;
}


.TopSectionText {

    Font-Size: clamp(10dvw,10dvw,10dvw);
    margin-bottom: 0px;
    
    animation: FadeInAnim ease 1s;
    animation-iteration-count: 1;
    animation-fill-mode: forwards;
}

.TopSectionDesc {
    Font-Size: 30px;
    width: 60%;
    text-align: center;
    
    opacity: 0.05;
    animation: FadeInAnim ease 1s;
    animation-delay: 0.1s;
    animation-iteration-count: 1;
    animation-fill-mode: forwards;
}



.ProjectTextTitle {
    text-align: center;
    font-size: 100px;
    line-height: 0%;
    margin: 5%;
    color: #d2d2d2;
    
}

#ProjectSquare {
    /*background-color: var(--BackgroundColour);*/
    border-radius: 20px;
  
    display: flex;
    flex-direction: column;
    
    align-items: center;
    background-color: var(--BackgroundHighlight);
    height: 55vh;
    gap: 5px;
    flex-wrap: wrap;


    /*
    animation: FadeInAnim linear;
    animation-timeline: view();
    animation-range: entry 0% cover 50%;
    */

}

.ProjectText {
    display: flex;
    justify-content: center;
    flex-direction: row;
   
}

.grid-container {
    display: grid;
    grid-template-columns: repeat(auto-fit , minmax(20rem, 1fr));
    margin: 10%;
    gap: 20px;
    position: relative;

    justify-content: center;
    align-items: center;
    top: 5dvh;
    
}

.ProjectTags{
    display: flex;
    flex-wrap: wrap;
    gap: 10px;
    
    align-items: center;
    width: 90%;
}

.ProjectTag {
    display: flex;
    align-items: center;
    background-color: #2020273e;
    border-radius: 10px;
    padding: 10px;
    font-size: 15px;
    line-height: .25;
    gap: 10px;
}

.Desc {
    font-family: "";
    font-size: 15px;
    width: 90%;
    height: 100px;
}

.ProjectLinkFlex {
    display: flex;
    width: 90%;
    font-size: 20px;
    
}

.fa-link {
    font-size: 20px;
}

.ProjectLink {
    display: flex;
    align-items: center;
    background-color: #2020273e;
    border-radius: 10px;
    padding: 10px;
    color: #FFFFFF;
    text-decoration: none;
    gap: 10px;
}

.Technologies {
    display: flex;
    flex-direction: column;
    
    gap: 20px;
    justify-content: center;
    align-items: center;
    margin: 15%;
    
}

.TechRow {
    display: grid;
    grid-template-columns: repeat(3,  minmax(10rem, 1fr));
    align-items: center;
    justify-content: center;
    gap: 20px;
}

.TechSquare {
    display: flex;
    align-items: center;
    background-color: var(--BackgroundHighlight);
    border-radius: 10px;
    padding: 10px;
    font-size: 20px;
    color: #FFFFFF;
    gap: 10px;
}

.TechSquare:hover {
    background-color: #574fe858;
    border: #FFFFFF .1px solid;
}

.TechImageBorder {
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 10%;
    width: 4rem;
    height: 4rem;
    background-color: #2020273e;
}

.TechImage {
    max-width: 50px;
    max-height: 50px;


}


.ImageDesc {

    max-width: 90%;
    max-height: 30%;
    
}



.TopBar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    
    height: 10vh;
    width: 100vw;
    min-width: 380px;
    left: 0%;
    top: 0%;

    position: absolute;
    text-align: center;
    font-size: 60px;
    font-weight: bold;
    /*
    border-bottom: 5px solid #022059;
    background-color: var(--TopBarColour);
    */
}

.TopBar-Left {
    float: left;
    width: 33vw;
}
.TopBar-Right {

    display: flex;
    gap: 25px;
    float: right;
    width: 20vw;
    color: var(--Secondary);
}

.TopBar-Center {
    flex: 2;
    font-size: 20px;
    width: 40vw;
}

.Title {
    position: relative;
    font-size: 35px;
    top: 5dvh;
    left: 43dvw;
}

.DescText {
    color: #FFFFFF;
    position: relative;
    top: 1dvh;
    text-align: center;
    font-size: 25px;
}

.bmc-btn-container {
}

.grid-container-Gif {
    padding: 10px;
    position: relative;
    width: 70dvw;
    
    top: 5dvh;
    left: -5dvw;
    margin-left: auto;
}


.grid-container-Gif:after {
    display: grid;
    grid-gap: 10px;
    /*grid-template-columns: repeat(4 , 1fr);*/

 
}



.Gifimg {
    width: 20%;
    height: auto;
}

.FooterText {
    position: relative;
    margin: 10% 10% 0% 10%;
    font-size: 20px;
    text-align: center;
}


footer {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: 20px;
    margin: 0% 0% 5% 0%;
}

.footerRow {
    display: flex;
    flex-direction: row;
    gap: 20px;
}

.footerText {
    display: flex;
    text-decoration: none;
    color: var(--Secondary);
    line-height: 0%;
}

.footerText:hover {
    scale: 1.2;
}

@media screen and (max-width: 992px) {
    .ProjectTextTitle {
        font-size: 50px;
    }

    .Gifimg {
      width: 40%;
    }


  }
@media screen and (max-width: 600px) {
    .Gifimg {
      width: 100%;
    }

    .TechRow {
        grid-template-columns: repeat(2, 1fr);
        gap: 10px;
    }

    .TechSquare {
        font-size: 12px;
    }

    .TopBar {
        font-size: 40px;
    }

    .TopBar-Right {
        width: 30vw;
    }

    .TopSectionDesc {
        width: 100%;
        font-size: 20px;
    }

    .TopSection {
        height: 65vh;
    }

    .grid-container {
        
    }

    .ProjectText {
        font-size: 10px;
    }

    .ImageDesc {
        max-height: 100px;
    }

    
}

.Gifimg:hover  {
    z-index: 5;
    position: relative;
    transform: scale(1.5);
    height: auto;
}
