:root {
  --Background: #202027;
  --BackgroundHighlight: #383843;
  --Secondary: #FFFFFF;
  --BackgroundColour: #FF595A; /* #717171; Dark grey */
  --TopBarColour: #001233;/* #ffbb6a; orange */
  --HighlightColour: #574FE8;
}

.App {

  text-align: center;
}


.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: var(--Background);
  font-family: "Arial Black";
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

#Link {
  color: var(--Secondary);
  text-decoration:overline;
  text-shadow: -2px 2px 0px rgba(0, 0, 0, 0.1);
}

#Link:hover {
  scale: 1.2;
}

.TopBar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  
  height: 10vh;
  width: 100vw;
  min-width: 380px;
  left: 0%;
  top: 0%;

  position: absolute;
  text-align: center;
  font-size: 60px;
  font-weight: bold;
  /*
  border-bottom: 5px solid #022059;
  background-color: var(--TopBarColour);
  */
}

.TopBar-Left {
  float: left;
  width: 33vw;
}
.TopBar-Right {

  display: flex;
  gap: 25px;
  float: right;
  width: 20vw;
  color: var(--Secondary);
}

.TopBar-Center {
  flex: 2;
  font-size: 20px;
  width: 40vw;
}

.TopSection {
    
  display: flex;
  padding: 100px 10% 50px 10%;
  flex-direction: column;
  align-items: center;
  height: 90vh;

}

.TopSectionText {

  Font-Size: clamp(10dvw,10dvw,10dvw);
  margin-bottom: 0px;
  
  animation: FadeInAnim ease 1s;
  animation-iteration-count: 1;
  animation-fill-mode: forwards;
}

.TopSectionDesc {
  Font-Size: 30px;
  width: 80%;
  text-align: center;
  animation-fill-mode: forwards;
}

.ResumeLink {
  display: flex;
  align-items: center;
  border: var(--HighlightColour) 1px solid;
  border-radius: 10px;
  background-color: #574fe824;
  padding: 10px;
  font-size: 30px;
 
 
  gap: 10px;
}

.ResumeLink:hover {
  transform: scale(1.05);
}

.AResumeLink {
  color: #FFFFFF;
  text-decoration: none;
}

.Technologies {
  display: flex;
  flex-direction: column;
  
  gap: 20px;
  justify-content: center;
  align-items: center;
  margin: 15%;
  
}

.TechRow {
  display: grid;
  grid-template-columns: repeat(3,  minmax(10rem, 1fr));
  align-items: center;
  justify-content: center;
  gap: 20px;
}

.TechSquare {
  display: flex;
  align-items: center;
  background-color: var(--BackgroundHighlight);
  border-radius: 10px;
  padding: 10px;
  font-size: 20px;
  color: #FFFFFF;
  gap: 10px;
}

.TechSquare:hover {
  background-color: #574fe858;
  border: #FFFFFF .1px solid;
}

.TechImageBorder {
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 10%;
  width: 4rem;
  height: 4rem;
  background-color: #2020273e;
}

.TechImage {
  max-width: 50px;
  max-height: 50px;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
