:root {
    --grey: #f8f8f8;
    --white: #ffffff;
    --Grey: #99908E;
    --black: #343434;
    --darker: #1c1c1c;
    --orange: #EF5B3B;
}

* {
    color: var(--fontColor);
    font: bold;
    font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;    
}

body {
    background: var(--bg);
}

.dark-theme {
    --bg: var(--darker);
    --fontColor: var(--orange);
    --btnBg: var(--white);
    --btnFontColor: var(--black);
}


.Finish {
    position: relative;
    display: block;
    margin-left: 0%;
    margin-right: auto;
    border: none;
    background-color: var(--black);   
    
}

canvas{
    background-color: var(--black);
}

.L{    
    display: flex;
    justify-content: center;
    align-items: center;
}
